<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smxy.forum.mapper.RoleMapper">

    <insert id="addRole">
        INSERT INTO role(role_name,role_key,status,remark,create_time,create_by,update_time,update_by)
        values
            (#{roleName},#{roleKey},#{status},#{remark},#{createTime},#{createBy},#{updateTime},#{updateBy})
    </insert>

    <insert id="addRoleMenu">
        INSERT INTO role_menu (role_id, menu_id) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <update id="updateRole">
        UPDATE role SET
            role_name=#{roleName},
            role_key=#{roleKey},
            status = #{status},
            remark = #{remark},
            update_time = #{updateTime},
            update_by=#{updateBy}
        where
            role_id = #{roleId}
    </update>

    <delete id="deleteRoleMenu">
        DELETE FROM role_menu where role_id = #{roleId}
    </delete>

    <select id="selectRoleMenuIds" resultType="long">
        select menu_id from role_menu where role_id = #{roleId}
    </select>

    <delete id="deleteUserRole">
        DELETE FROM user_role where role_id = #{roleId}
    </delete>
</mapper>
